body{
    margin:0;
    padding:0;
}
.nav{
    background-color: #000000;
    z-index: 1;
}
.nav ul {
    list-style: none;
    background-color: #000000;
    text-align: center;
    padding: 0;
    margin: 0;
}
*{
    font-family: "Courier New", "Arial", sans-serif;
}
.nav li {
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #000000;
}
a{
    text-decoration: none;
}
.nav a{
    color:white;
    transition: .3s background-color;
}
.nav a:hover{
    background-color: #0f0f0f;
    text-decoration: none;
}
#map-canvas {
    width: 500px;
    height: 400px;

}
input:focus, textarea.focus{
    border:1px solid #97d6eb;
}
button:hover{
    opacity:0.8;
}
@media screen and (min-width: 600px) {
    .nav li {
        width:auto;
        border-bottom: none;
        height: 40px;
        line-height: 40px;
        font-size: 1em;
    }
    .nav .navright{
        float:right;
    }
    .nav .navleft{
        float: left;
    }

}
.formrow{
    width: 50%;
    float:left;
    padding: 5%;
    margin: auto;
}
.heading{
    font-weight: bold;
    color: rgb(174, 19, 15);
}
.heading1{
    font-weight: bold;
    color: white;
}
.container{
    width:100%
}
.glyphicon{
    width: auto;
    color: white;
    cursor: pointer;
}
#details{
    position: absolute;
    width:15%;
    top:40px;
    left:0;
    bottom:0;
    z-index: -1;
    background-color: rgba(109, 109, 109, 0.89);
    margin-left: 0;
    padding-left:1%;
    margin-right:2%;
    padding-top:5%;
}
.hours{
    color: white;
}
.centercontainer{
    align-items: center;
    display: flex;
    justify-content: center;
}
#tabbedpane{
    padding:5%;
}

.nav-tabs, .nav-tabs>li{
    color:white;
    background-color: rgb(136, 18, 15);

}
.tab{
    width:25%;
    display: inline-block;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color:white;
    background-color: rgb(174, 19, 15);
}

.tab-pane{
    overflow-y: auto;
}
#loginForm{
    padding: 5%;
    margin-left: 50%;
    width: 70%;
    border: 1px solid lightblue;
    padding-top: 2%;
}
